.banner{
    background-image: url(../img/banner.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
    
}
.center {
    margin: auto;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.394);
    padding: 50px;
    color: black;
    text-align: center;
}
.carousel-caption
{
    background-color: rgba(255, 255, 255, 0.394);
}
.carouselimg{
    height: 400px;
}
footer{
    background-color: #797575;
    height: 150px;
    padding-top: 20px;
}
footer li{
    color: white;
    list-style-type: none;
}
.footerimg{
    height: 27px;
}
.szoveg{
    color: white;
}
.szurke{
    color: grey;
}
.kozep{
    text-align: center;
}
.logo{
    height: 40px;
}
.kezelesek{
height: 450px;
width: 700px;

}
.kezelesekbanner{
    background-image: url(../img/kezelesekb.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
}