body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("kepek/hatter.jpg");
    background-size: cover;
  }
  
  .registration-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  
  input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  button {
    padding: 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  #logo{
    width: 70px;
    height: 70px;
  }
  nav{
    background-image: linear-gradient(lightblue, rgb(81, 81, 252));
  }



  .nyitvatartashoz * {
    margin: 5px 0; /* Adjust the values to your preference */
    margin-top: -10px;
  }
  footer{
    
    background-image: linear-gradient(lightblue, rgb(81, 81, 252));
    color: white;
    
    
  }
  .ikon{
    width: 25px;
  }
  
  .nyitvatartastext{
    font-size: 20px; 
    line-height: 1.5;
  }
  .kozep2{
    margin: auto;
  }
  
  .kartyanyitva{
    background-color: #007bff 20%;
    background-color: #ADD8E6 100%;
    border: #007bff 2px solid;
  }
  .footerszoveg{
    font-size: 24px;
  }
  .nyitvaszin{
    background-color: rgba(81, 81, 252, 0.2);
    background-color: rgba(173, 216, 230, 1);
    border: rgba(81, 81, 252, 0.2) 2px solid;
  }
  
  .kozep{
    text-align: center;
  }